body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navigation {
  padding: 25px;
}

.div-container__medium {
  width: 50%;
  height: auto;
  margin : auto;
  border: 1px;
  border-style: solid;
  border-color: lightblue;
  border-radius: 5px;
  padding: 10px;
}

a { 
  color: darkgray;
  text-decoration: none; 
}

a:hover {
  text-shadow: 1px 1px 5px lightblue;
}

a:active {
  color: navy;
}

.col-left {
  padding: 10px;
  text-align: right;
}
.col-right {
  padding: 10px;
  text-align: left;
}