@mixin flexCenter($align) {
    display: flex;
    justify-content: space-between;
    align-items: $align;
    padding: 30px 10%;
}

@mixin divBase {
    height: auto;
    margin : auto;
    border: 1px;
    border-style: solid;
    border-color: $primaryBorder;
    border-radius: 5px;
    padding: 20px;    
}