@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

.App {
  text-align: center;
}

.button-main {
  margin-right: 10px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10%;
}

.dropdown__togggle {
  color: darkgray;
}

.div-container__medium {
  height: auto;
  margin: auto;
  border: 1px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 5px;
  padding: 20px;
  width: 50%;
}

.div-container__large {
  height: auto;
  margin: auto;
  border: 1px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  width: 75%;
}

a {
  color: darkgray;
  text-decoration: none;
}

a:hover {
  text-shadow: 1px 1px 5px #d3d8da;
}

a:visited {
  color: darkgray;
}

.col-left {
  padding: 10px;
  text-align: right;
}

.col-right {
  padding: 10px;
  text-align: left;
}

i {
  cursor: pointer;
}