@import './variables';
@import './mixins';

.App {
    text-align: center;
}

.navigation {
    @include flexCenter(center);
    padding: 25px;
}

.div-container__medium {
    @include divBase();
    width: 50%;
}
  
a { 
  color: $primaryLink;
  text-decoration: none;
  &:hover {
      text-shadow: 1px 1px 5px $primaryHover;
  }
}
    
.col-left {
  padding: 10px;
  text-align: right;
}

.col-right {
  padding: 10px;
  text-align: left;
}