@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import './variables';
@import './mixins';

* {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    
    text-decoration: none;
    
 }

.App {
    text-align: center;
}

.navigation {
    @include flexCenter(center);
}

.dropdown__togggle {
    color: $primaryLink;
}

.div-container__medium {
    @include divBase();
    width: 50%;
}

.div-container__large {
    //@include divBase();
    width: 65%;
}


a { 
  color: $primaryLink;
  text-decoration: none;
  &:hover {
      text-shadow: 1px 1px 5px $primaryHover;
  }
}

a:visited {
    color: darkgray;
}
    
.col-left {
  padding: 10px;
  text-align: right;
}

.col-right {
  padding: 10px;
  text-align: left;
}